<h2>Lectura Obligatoria</h2>
<div class='col-xs-12 two-column border-line-blue padding-wrap list-link'>    
    {% for key, unidad in unidades %}
        {% set newKey = key + 1 %}
        <h3>Unidad {{newKey}}</h3>
        <ul class="list-unstyled">
            {% for supp in urls_mandatory %}
                {% if unidad.id == supp.unidad.id %}
                    <li>
                        <a href='{{supp.url}}' target="_blank">
                            {{supp.name}}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}   
        </ul>
    {% endfor %}
</div>
