<div class='col-xs-12'>
    <h2>Progreso</h2>
    {% if finish_exams != null %}
        <p>Tu promedio es: <strong>{{ average|number_format('1','.',',') }}</strong></p>
    {% else %}
        <p>No haz acabado ningun examen del actual curso.</p>
    {% endif %}

    {% if finish_exams != null %}
        {% for data in finish_exams %}
            {% if course.id == data.exam.unidad.course.id  %}
                {% if data.user.id == app.user.id %}
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                {% endif %}
            {% endif %}
        {% endfor%}
    {% endif %}
</div>