<div class="slider-wrap row">
    <div class="slider-content" data-controls="false" data-auto="true">
        <div class="slide-wrap">
            <div class="image-wrap">
                <img src="{{ asset('assets/images/slider/escribiendo.jpg') }}" class='responsive-image' />
            </div>
        </div>
        <div class="slide-wrap">
            <div class="image-wrap">
                <img src="{{ asset('assets/images/slider/estudiando.jpg') }}" class='responsive-image' />
            </div>
        </div>
        <div class="slide-wrap">
            <div class="image-wrap">
                <img src="{{ asset('assets/images/slider/logica.jpg') }}" class='responsive-image' />
            </div>
        </div>
    </div>
</div>
