{% extends "WebBundle::layout.html.twig" %}

{% block content %}
    <div class="row bg-pass">
        <div class="col-xs-12 text-center m-xs-tb-2">
            <h3 class="m-xs-tb-2">En los proximos minutos estaras recibiendo un correo para re establecer tu contraseña.</h3>
        </div>
    </div>
{% endblock %}
