{% extends "WebBundle::layout.html.twig" %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12 text-center m-xs-tb-2'>
            {% for message in app.session.flashBag().get('status') %}
                <div class='alert alert-success alert-dismissible' role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }} 
                </div>
            {% endfor %}
        </div>

        <div class='col-xs-12 form-admin text-center'>
            <h2>Haz click en el siguiente boton para Iniciar sesión</h2>
            <a class="btn btn-success m-xs-tb-2" href="{{path('admin_login')}}">Iniciar Sesion</a>
        </div>
    </div>
{% endblock %}
