{% extends 'WebBundle::layout.html.twig' %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12 m-xs-tb-4'>
            <h1 class='title-alpha'>ACERCA DE:</h1>
        </div>
    </div>
    <div class='row col-xs-12'>
        <p>
            El Centro de Investigación y Desarrollo Costero es una organización fundada en el 2009 y desde entonces ha colaborado con organizaciones  locales, regionales, nacionales e internacionales con gran éxito. 
            Gracias a esto nos hemos consolidado y mantenido como un Centro de Investigación de fomento a la competitividad y desarrollo regional.
        </p>
        <ul>
            <li>Objetivo: Contribuir al desarrollo del país a través del manejo y uso sustentable de los recursos ambientales de la zona costera, generando un desarrollo económico en la población.</li>
            <li>Misión: Ser un centro de investigación interdisciplinario de atención a los proyectos costeros, en un marco responsable y sustentable de los recursos contribuyendo en la solución de problemas regionales y nacionales, mediante la investigación científica básica y aplicada en beneficio de la sociedad.</li>
            <li>Visión: Ser una Institución de calidad a nivel regional, nacional y mundial con impacto en el desarrollo de proyectos productivos, líderes en el estudio y la solución de problemas relacionados con los procesos costeros así como su interacción con la sociedad.</li>
        </ul>
        <p>
        Una incubadora de empresas es una organización diseñada para acelerar el crecimiento y asegurar el éxito de proyectos emprendedores a través de una amplia gama de recursos y servicios empresariales como capitalización y coaching por ejemplo. CIDECO te ayuda a convertir tu idea en negocio asesorándote paso a paso hasta el final.
        </p> 
        <br>
        <br>
    </div>
    
{% endblock %}
