{% extends 'WebBundle::layout.html.twig' %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12 m-xs-tb-4'>
            <h1 class='title-alpha'>ALIADOS:</h1>
        </div>
    </div>
    <div class='row col-xs-12'>
        <div class="text-center"> 
            <img src="{{ asset('assets/images/sagarpa.jpg') }}" />
        </div>
        <br>        
        <p>SAGARPA</p>
        <p>Secretaría de Agricultura, Ganadería, Desarrollo Rural, Pesca y Alimentación.</p>
        <p>A través del Programa Integral del Desarrollo Rural 2016.</p>
        <br>
    </div>
    
{% endblock %}