{% extends 'WebBundle::layout.html.twig' %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12 m-xs-tb-4'>
            <h1 class='title-alpha'>CONTACTO:</h1>
        </div>
    </div>
    <div class='row col-xs-12'>
        <h4><b>Centro de Investigación y Desarrollo Costero</b></h4>
        <ul>
            <li>Calle 13 y Ryerson No.1307-1, Zona Centro, Código Postal 22800, Ensenada, B.C., México,</li>
            <li>Correo electrónico: consultas@cideco.org</li>
            <li>Teléfono: <b>01(646) 178-00-17</b></li>
        </ul>
        <p>Si tiene alguna consulta o desea concertar una cita, puede ponerse  en contacto con nosotros al teléfono: 01(646) 175-32-15 o bien utilice nuestro formulario de contacto.</p>
        <p>Horario de atención: <b>9 a 17 hrs. de Lunes a Viernes.</b></p>

    </div>
    <br>
    
{% endblock %}