{% extends 'WebBundle::layout.html.twig' %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12 m-xs-tb-4'>
            <h1 class='title-alpha'>POLÍTICA DE PRIVACIDAD:</h1>
        </div>
    </div>
    <div class='row col-xs-12'>
        <p>En cumplimiento con lo establecido por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (LFPDPPP), le Informamos Nuestra Política de Privacidad y Manejo de Datos Personales:</p>
        <p>No reunimos información personal, ni información del sistema operativo del usurario y no utilizamos cookies para administrar nuestro sitio Web, cualquier información que se dé a conocer de forma directa con personal de nuestra empresa por vía telefónica, correo o de manera personal de acuerdo con lo establecido en el artículo 27 fracción II de la LFPDPPP, se le dará a conocer la finalidad de obtención de información requerida.</p>
        <p>El presente aviso de privacidad cumple con lo establecido en los principios  de la Protección de Datos Personales establecidos en el artículo 9, fracción I, II, III, IV, V, VI, VII, VII, VIII, de la ley federal de protección de datos personales en posesión de los particulares</p>
        <p>Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad, para la atención de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios.</p>
        <p>Si necesita mayor información por favor escriba a steephen@cideco.org o si prefiere a nuestro domicilio: Calle 13 y Ryerson No.1307-1, Zona Centro, Código Postal 22800, Ensenada, B.C., México, teléfono: <b>01(646)175-32-15.</b></p>

    </div>
    <br>
    
{% endblock %}
