{% extends 'WebBundle::layout.html.twig' %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12 m-xs-tb-4'>
            <h1 class='title-alpha'>SERVICIO SOCIAL:</h1>
        </div>
    </div>
    <div class='row col-xs-12'>
        <p>Si estás buscando un lugar donde puedas tu Servicio Social y/o Prácticas Profesionales y en el proceso puedas aprender y aplicar tus conocimientos en un ambiente agradable con un equipo de trabajo profesional e integral, el Centro de Investigación y Desarrollo Costero es una excelente oportunidad para tu desarrollo profesional.</p>
        <p>En el Centro de Investigación y Desarrollo Costero encontrarás diversas áreas para realizar actividades de acuerdo a tu perfil profesional. </p>
        <p>Ten en cuenta que el Servicio Social y las Prácticas Profesionales, además de contribuir en tu formación para la vida profesional, es una gran oportunidad para generar experiencia al mismo tiempo que ofreces tu talento y capacidades en beneficio de la sociedad.</p>
        <p>Si deseas más información agenda una cita comunicándote al teléfono: <b>01(646) 175-32-15.</b></p>

    </div>
    <br>
    
{% endblock %}