{% extends 'WebBundle::layout.html.twig' %}

{% block content %}
    <div class='row'>
        <div class='col-xs-12 m-xs-tb-4'>
            <h1 class='title-alpha'>TÉRMINOS DE SERVICIO:</h1>
        </div>
    </div>
    <div class='row col-xs-12'>
        <h4><b>AVISO LEGAL</b></h4>
        <p><b>Copyright© Centro de Investigación y Desarrollo Costero. Todos los derechos reservados.</b></p>

        <p>Los derechos de propiedad intelectual sobre los sitios cuya titularidad ostenta Centro de Investigación y Desarrollo Costero.</p>
        <p>Centro de Investigación y Desarrollo Costero se reserva el derecho de efectuar, en cualquier momento y sin previo aviso, modificaciones en el layout, configuración, contenidos y servicios ofrecidos en cada uno de sus sitios web.</p>
        <p>Centro de Investigación y Desarrollo Costero, informa a los Usuarios que al utilizar sus páginas aceptan sin reservas las presentes condiciones generales:</p>   

        <ol>
            <li><b>Información del Usuario.</b></li>
            <p>El uso que de cualquier sitio web propiedad de Centro de Investigación y Desarrollo Costero, hagan los Usuarios, así como de los servicios puestos a su disposición en ellos, podrán venir precedidos de cierta información personalizada a cargo de los Usuarios.
                Las políticas de uso y recopilación de información por parte de Centro de Investigación y Desarrollo Costero, con respecto a la privacidad de dicha Información de los Usuarios se establecen en la Política de Privacidad que consta en cada sitio web de Centro de Investigación y Desarrollo Costero. Los Usuarios reconocen y aceptan ser los únicos responsables de la exactitud de los mismos.</p>

            <li><b>Materiales Presentados.</b></li>
            <p>A menos que se solicite específicamente, en los sitios web de Centro de Investigación y Desarrollo Costero, no se pide ni se desea recibir ninguna información confidencial, secreta o patrimonial, ni otro material de los Usuarios. 
                Cualquier información, trabajos creativos, demostraciones, ideas, sugerencias, conceptos, métodos, sistemas, diseños, planes, técnicas u otros materiales que los Usuarios hayan proporcionado,  mandado o presentado se considerarán como no confidenciales o secretos de cualquier índole, razón precisa por las cuales Centro de Investigación y Desarrollo Costero, puede discrecionalmente y sin responsabilidad legal en contrario, usarlos por cualquier medio y/o manera previstas en la Políticas de Privacidad. 
                Al presentar o mandar Materiales Presentados, los Usuarios asumen en beneficio de Centro de Investigación y Desarrollo Costero, que: 
                (a) Los Materiales Presentados son de su creación original, y que por consecuencia ninguna diversa persona tiene ningún derecho sobre ellos, asumiendo cualquier responsabilidad al respecto.
                (b) El Usuario concede, a Centro de Investigación y Desarrollo Costero, así como a sus  afiliadas, derecho y licencia libres de regalías, sin restricciones, irrevocables, no exclusivas y totalmente transferibles, que pueden ser cedidos y sub-licenciados, para usar, copiar, reproducir, modificar, adaptar, publicar, traducir, crear trabajos derivados, distribuir, ejecutar, exponer e incorporar en otros trabajos cualquiera de los Materiales Presentados (todos o en parte) en cualquier forma, medio o tecnología no conocida o por desarrollar, incluyendo propósitos promociónales y/o comerciales.
                Centro de Investigación y Desarrollo Costero, no puede ser responsable de conservar o no el Material Presentado proporcionado por los Usuarios.</p>

            <li><b>Conducta Prohibida del Usuario.</b></li>
            <p>Los Usuarios garantizan y están conformes en respetar las conductas prohibidas a su cargo, mientras utilicen los servicios de las páginas web, propiedad de Centro de Investigación y Desarrollo Costero. Dichas conductas son: </p>
            <ul>    
                <li>Injuriar o agredir a persona o entidad específica, ni desvirtuar su afiliación con alguna otra persona o entidad;</li>
                <li>Promover anuncios publicitarios propios o de terceros, posicionamientos de marca o algún otro contenido promocional.</li>
                <li>Intentar o acceder de manera no autorizada a otros sistemas de cómputo a través de los sitios web de Centro de Investigación y Desarrollo Costero.</li>
                <li>Recolectar direcciones de correos electrónicos u otras informaciones personales o de contactos, o cualquier otro medio automático de obtener listas de Usuarios u otra información de o a través de los sitios web de Centro de Investigación y Desarrollo Costero, o de los servicios ofrecidos a través de ellos.</li>
                <li>Obtener o intentar obtener acceso no autorizado a los sistemas de cómputo, materiales o información por cualquier otro  medio;</li>
                <li>Usar los sitios web de Centro de Investigación y Desarrollo Costero, o los servicios puestos a su disposición de alguna manera con la intención de interrumpir, dañar, deshabilitar, sobrecargar o deteriorar los mismos.</li>
                <li>Usar los sitios web de Centro de Investigación y Desarrollo Costero, o los servicios o artículos constantes en ellos, a efecto de vulnerar la propiedad intelectual o de otros derechos legales o patrimoniales ya sean de Centro de Investigación y Desarrollo Costero o de algún tercero.</li>
                <li>Usar los sitios web de Centro de Investigación y Desarrollo Costero, o los servicios de los mismos, para vulnerar cualquier ley aplicable. </li>

            </ul>
            <br>
            <li><b>Condiciones Genérales.</b></li>
            <p>Centro de Investigación y Desarrollo Costero, establece que tantos la Políticas de Privacidad, como los acuerdos constantes en este Aviso Legal serán interpretados en su conjunto; para el caso de criterios diversos, entre ambos lineamientos prevalecerá el que verse o más se asemeje al tema en cuestión.</p>
        </ol>
    </div>
    <br>
    
{% endblock %}
